---
---

@import "swift";

$primary: #BB86FC;
$variant: #3700B3;
$secondary: #03DAC6;
$background: #171717;
$surface: #242424;
$error: #CF6679;
$on-primary: #000000;
$on-secondary: #000000;
$on-error: #000000;
$on-background: #e0e0e0;
$on-surface: #FFFFFF;

* { padding: 0; margin: 0; }
body {
font-family: sans-serif;
 }

li.menu-item {
list-style-type: none;
a {
 text-decoration: none;
 color: $on-surface;
 font-size: 14px;
 }
 }

header {
width: 100%;
height: 50px;
margin: auto;
border-bottom: 1px solid $secondary;
background: $surface;
z-index: 99;
}
#brnad {
float: left;
line-height: 50px;
font-size: 30px;
width: 50px;

font-weight: bolder;
color: #E5DAC0;
  img {
   width: 100%;
   height: auto;
  }
}
nav { width: 100%; text-align: center; }
nav ul { line-height: 50px; }
nav li { display: inline-block; }
nav a { padding: 10px; color: #F6F3EB; }
nav a:hover { background: $secondary; color: $on-secondary; border-radius: 5px; }

/*--------------------------------------------------*/

.menu {
width: 100%;
height: 50px;
background: $surface;
position: absolute;
top: -50px;
z-index: -1;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
border-bottom: 1px solid $secondary;
}
.menu-icon {
float: right;
padding: 10px 20px;
color: $on-surface;
background: $surface;
border: 1px solid $primary;
border-radius: 5px;
margin: 5px 5px 0 0;
cursor: pointer;
z-index: 99;
}
.menu-icon:hover {

color: $on-primary;
background: $primary;
 }
#menuToggle { display: none;}

#menuToggle:checked ~ .menu { position: absolute; top: 51px; }

#menuToggle:checked ~ .content { position: absolute; top: 120px; }

.content {
width: 100%;
margin: auto;
position: absolute;
top: 60px;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;

}

/*--------------------------------------------------*/

@media screen and (max-width: 480px){
nav li { display: block; }
nav a { display: block; border-bottom: 1px solid #DFD2B3; padding: 0; }
nav a:hover { border-radius: 0; }
.menu { height: auto; top: -350px; }

#menuToggle:checked ~ .content { position: absolute; top: 370px; }

}



div.resource {
padding: 30px;
display: block;
margin-left: auto;
margin-right: auto;
clear: both;
max-width: 700px;
}
img.resource {
width: 100%;
height: auto;

}

div.tutorial-image {
display: block;
max-width: 250px;
margin-left: auto;
margin-right: auto;
padding: 20px 0px;
  img.tutorial {
  width: 100%;
  height: auto;
  }
}


div.tutorial-video {
display: block;
max-width: 600px;
margin-left: auto;
margin-right: auto;
padding: 20px 0px;
  video {
  width: 100%;
  height: auto;
  }
}

div.preview {
display: block;
max-width: 300px;
margin-left: auto;
margin-right: auto;
padding: 20px 20px;


a {
text-decoration: none;
h1 {
text-align: left;
font-size: 30px;
color: $secondary;
text-decoration: none;
padding: 30px 0px;
}

}
video {
width: 100%;
height: auto;
background: transparent;
}
}



body {
background-color: $background;
color: $on-background;
font-family: Arial, Helvetica, sans-serif;
}



div.footer {
display: block;
padding-top: 40px;
margin-left: auto;
margin-right: auto;
max-width: 85px;
}

img.follow {
width: 100%;
height: auto;
}


 div.post-container {
 padding: 10px;
}



div.post {
* {
padding-top: 3px;
padding-bottom: 3px;
}
display: block;
max-width: 800px;
margin-left: auto;
margin-right: auto;
padding-left: 25px;
padding-right: 25px;

  a {
  color: $secondary;
  text-decoration: none;
  }
  p {
  width: 100%;
  padding: 2px;
  text-align: justify;
  }

  ul {
  padding: 10px 0px;
  }

  ol {
  padding: 10px 0px;
  }

  ul li {
  width: 100%;
  margin-left: 40px;
  padding: 2px 0px;
  list-style-type: circle;
    ol li {
    width: 100%;
    margin-left: 20px;
    list-style-type: decimal;
    }
  }

  ol li {
  width: 100%;
  padding: 2px 0px;
  margin-left: 40px;
  list-style-type: decimal;
  }

}



div.icon-container {
padding: 10px 0px;
display: block;
margin-left: auto;
margin-right: auto;
max-width: 200px;
clear: both;
}

div.large-icon {
display: block;
margin-left: auto;
margin-right: auto;
padding: 10px 0px;
max-width: 300px;
clear: both;
}

img.large-icon {
padding: 0px 20px;
height: auto;
width: 100%;
border: 1px solid $secondary;
border-radius: 0.5em;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.post-icon {
height: auto;
width: 100%;
}

hr {
    padding: 0;
    border: none;
    border-top: medium double $secondary;
    color: #333;
    text-align: center;
}



#title {
 h1 {
 text-align: center;
 font-size: 6vw;
 background: linear-gradient( #027B76 , #18E7CF);
 background-clip: text;
-webkit-background-clip: text;
color: transparent;
 }
}

#title {
 p {
 text-align: center;
  color:  $on-background;
 }
}

p.meta {
float: right;
}


h1.page-title {
font-size: 4vw;
float: left;
}



h2.post-title {
float: left
}




article {
  width: 280px;
  overflow: hidden;
  margin: 10px 10px;
  background: $surface;
  border: 1px solid $secondary;
  border-radius: 3px;
  position: relative;
  float: left;
  h1 {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  }
  p {
  font-size: 14px;
  }
  box-shadow:  0px 1px 4px $secondary;

}
article .article-title {
  font-weight: 300;
  font-size: 18px;
  color: $primary

}
article .article-header {
  position: relative;
  padding: 0;
  margin: 0;
  width: 280px;
  overflow: hidden;
}
article .article-header .inner {
  position: relative;
  transform: translateY(-50px);
  transition: transform .5s ease;
  a {
  text-decoration: none;
  }
}

article:hover .inner {
  transform: translateY(0);
}
article:hover .article-body span {
  opacity: 1;
}

article .article-header h2 {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 20px;
  background: black;
  color: white;
  font-weight: 300;
  font-size: 16px;
}
article .article-header img {
  width: 100%;
  height: auto;
}
article .article-body {
  position: relative;
  padding: 0px 20px 20px 20px;
  a {
  color: $on-surface;
  text-decoration: none;
  p {
  margin-left: 0px;
  margin-right: 0px;
  }
  }
}
article .article-body span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #e74c3c;
  color: #FFF;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}



/* jssor slider bullet navigator skin 13 css */
/*
.jssorb13 div           (normal)
.jssorb13 div:hover     (normal mouseover)
.jssorb13 .av           (active)
.jssorb13 .av:hover     (active mouseover)
.jssorb13 .dn           (mousedown)
*/
.jssorb13 {
    position: absolute;
}
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {
    position: absolute;
    /* size of bullet element */
    width: 21px;
    height: 21px;
    background: url('/assets/Circles.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }
