---
---

$primary: #BB86FC;
$variant: #3700B3;
$secondary: #03DAC6;
$background: #171717;
$surface: #242424;
$error: #CF6679;
$on-primary: #000000;
$on-secondary: #000000;
$on-error: #000000;
$on-background: #e0e0e0;
$on-surface: #FFFFFF;

div.project-logo {
padding: 30px 20px;
display: block;
margin-left: auto;
margin-right: auto;
clear: both;
max-width: 700px;
 p {
 margin-left: 0px;
 margin-right: 0px;
font-family: Arial, Helvetica, sans-serif;
 }
 li {
  margin-left: 10px;

 }
}


img.project-logo {

  width: 100%;
  height: auto;
}

div.resource {

display: block;
margin-left: auto;
margin-right: auto;
clear: both;
max-width: 700px;
}
img.resource {
width: 100%;
height: auto;

}

img.tutorial {
width: 100%;
height: auto;
max-width: 400px;
}

video {
width: 100%;
height: auto;
max-width: 400px;
}


body {
margin-left: auto;
margin-right: auto;
background-color: $background;
color: $on-background;
font-family: Arial, Helvetica, sans-serif;
 }

a {
color: $secondary
}


.header {
  overflow: hidden;
  background-color: $surface;
  padding: 0px 10px 0px;
}


 a.header {
  float: right;
  color:  $on-surface;
  text-align: center;
  padding: 10px 10px 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


a.logo {
float: left;
color:  $on-surface;
text-decoration: none;
height: 50px;
}
img.logo {
height: 100%;
background-color: $surface;
}
a.header:hover {
  background-color: $primary;
  color: $on-primary;
}

.header-right {
  float: right;
}





 pre {
 font-family: Operator Mono A,Operator Mono B,Source Code Pro,Menlo,Consolas,Monaco,monospace;
 clear: both;
 color:  #fff;
 background: $surface;
 padding: 0;
 -moz-tab-size: 2;
 -o-tab-size: 2;
 tab-size: 2;
 -ms-word-break: normal;
 word-break: normal;
 -webkit-hyphens: none;
 -ms-hyphens: none;
 hyphens: none;
 position: relative;
 line-height: 16px;
 border-radius: 8px;
 min-width: 100px;
 max-width: 100%;
 overflow: hidden
}
pre[rel]:not([rel=""]):before {
 font-family: Ringside Regular A,Ringside Regular B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
 font-style: normal;
 font-weight: 700;
 font-size: .5rem;
 content: attr(rel);
 color: #fff;
 position: absolute;
 top: -.2rem;
 right: .4rem;
 padding: 0;
 color: #ff8a00!important
}
pre code {
 scrollbar-color: #666;
 scrollbar-width: .5em;
 background: $surface;

padding: 15px 20px 12px 22px;
 white-space: pre;
 -webkit-overflow-scrolling: touch;
 display: block;
 overflow-x: scroll;
 max-width: 100%;
 min-width: 100px;
 font-size: 12px;
 line-height: 1.75
}
pre code::-webkit-scrollbar {
 width: .5em;
 height: .5em;
}
pre code::-webkit-scrollbar-thumb {
 background: 0 0;
 border-radius: .5em;
 box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}
pre code::-webkit-scrollbar-track {
 background: linear-gradient(90deg,#201c29,#201c29 1px,none 0,none);
}
code {
 font-family: Operator Mono A,Operator Mono B,Source Code Pro,Menlo,Consolas,Monaco,monospace;
}

li {
margin-left: 50px;
}

ul {
 ol {
  li {
  margin-left: 10px;
  }
 }
}


div.language-swift {
padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
 }
 div.post-container {
 display: block;
 }

div.icon-container {

display: block;
margin-left: auto;
margin-right: auto;
max-width: 200px;
clear: both;

}


 img.post-icon {


height: auto;
width: 100%;
  border: 1px solid $secondary;
border-radius: 0.5em;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

hr {
    padding: 0;
    border: none;
    border-top: medium double $secondary;
    color: #333;
    text-align: center;
}

hr.single {
    padding: 0;
    border: none;
    border-top: 1px solid $secondary;
    margin-right: 10px;
    margin-left: 10px;
    color: #333;
    text-align: center;
}

#title {
 h1 {
 text-align: center;
 font-size: 6vw;
  color: $on-background;
 }
}

#title {
 p {
 text-align: center;
  color:  $on-background;
 }
}
p.meta {
float: right;
}

p {
margin-left: 30px;
margin-right: 30px;
}
h1.page-title {
display: inline;
font-size: 4vw;
float: left;
}


h1 {
font-size: 5vw;
margin-left: 10px;
}

h2.post-title {
float: left
}

h2 a {
color: $primary;
}

h2 {
margin-left: 20px;
}

h3 {
margin-left: 20px;
}



.highlight pre { background: color(var(--darkgrey) l(-3%)); }
.highlight .hll { background: color(var(--darkgrey) l(-3%)); }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #d4727e } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #ed66b3 } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #ebe9e8 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

// some hacks to improve swift highlighting
.highlight .language-swift .kd+.nf,
.highlight .language-swift .kd+.kt { color: inherit; }
.highlight .language-swift .o+.n { color: #7587A6 }
.highlight .language-swift .nv+.o+.n { color: inherit; }
